@import './modules/variables';

@import './modules/loading';
@import './modules/donation-list';
@import './modules/comment-list';
@import './modules/comment-form';
@import './modules/donation-button';
@import './modules/share';
@import './modules/modal';
@import './modules/campaign-single-images';
@import './modules/shortcode-campaign-grid';

// donor account style
@import './modules/donor-account';

// giftflow-table style
@import './modules/giftflow-table';

// gfw-pagination style
@import './modules/giftflow-pagination'; 

// monofont global class name
.gfw-monofont {
  font-family: $font-family-monospace;
}

.__hidden-fieldset {
  display: none;
}

.gfw-elem-loading-spinner {
  cursor: not-allowed;
  pointer-events: none;
  overflow: hidden;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.5em;
    height: 1.5em;
    transform: translate(-50%, -50%);
    border: 0.2em solid #ccc;
    border-top: 0.2em solid $primary-color;
    border-radius: 50%;
    animation: gfw-spin 1s linear infinite;
    z-index: 2;
    // just above overlay
  }

  @keyframes gfw-spin {
    0%   { transform: translate(-50%, -50%) rotate(0deg);}
    100% { transform: translate(-50%, -50%) rotate(360deg);}
  }
}