@import './modules/variables';

@import './modules/loading';
@import './modules/donation-list';
@import './modules/comment-list';
@import './modules/comment-form';
@import './modules/donation-button';
@import './modules/share';
@import './modules/modal';
@import './modules/campaign-single-images';

// donor account style
@import './modules/donor-account';

// giftflow-table style
@import './modules/giftflow-table';

// gfw-pagination style
@import './modules/giftflow-pagination'; 

// monofont global class name
.gfw-monofont {
  font-family: $font-family-monospace;
}

.__hidden-fieldset {
  display: none;
}